<% include ../partials/header %>
<header class="jumbotron">
    <div class="container">
        <span class="display-4">Welcome to YelpCamp</h1>
        <p class="lead">View our hand picked campgrounds from all over the world</p>
        <div>
            <a class="btn btn-secondary btn-lg" href="/">Go back</a>
            <a class="btn btn-secondary btn-lg" href="/campgrounds/new">Create a campground</a>
        </div>
    </div>
</header>
<div class="container mb-5">
     <div class="card-columns">
            <% campgrounds.forEach((campground) => { %>
                <div class="card text-center">
                    <img class="card-img-top" src="<%= campground.image %>" alt="">
                    <div class="card-body">
                        <h4 class="card-title"><%= campground.name %></h4>
                        <p class="card-text"><a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">Show More</a></p>
                    </div>
                </div>
        <% }); %>
    </div>
</div>
<% include ../partials/footer %>